## Wstęp do biblioteki pandas

In [1]:
print("to jest notebook na temat pandas")
a = 7.8
e = 17

to jest notebook na temat pandas

In [2]:
#ipython pozwala korzystac bezpośrednio z interfejsu notbooków nie wymagając funkcji print 
a*e

132.6

In [3]:
import pandas as pd

In [4]:
data = {
    "title":["Book A", "Book B", "Book C"],
    "price":[12.99,25.56,8.99],
    "in_stock":[True,False,True]
}

df = pd.DataFrame(data)
df

,title,price,in_stock
0,Book A,12.99,True
1,Book B,25.56,False
2,Book C,8.99,True

In [5]:
df.head(2)

,title,price,in_stock
0,Book A,12.99,True
1,Book B,25.56,False

In [6]:
df["price"].mean()

15.846666666666666

In [7]:
df[df["in_stock"]]

,title,price,in_stock
0,Book A,12.99,True
2,Book C,8.99,True

In [8]:
df.loc[0]

In [9]:
df.loc[:,["title","price"]]

,title,price
0,Book A,12.99
1,Book B,25.56
2,Book C,8.99

In [10]:
df.loc[df["price"]>10,["title"]]

,title
0,Book A
1,Book B

In [11]:
df[df["price"]>10]

,title,price,in_stock
0,Book A,12.99,True
1,Book B,25.56,False

In [12]:
df.iloc[0,0]

'Book A'

In [13]:
#operacje we/wy
df.to_csv("book.csv",index=False,encoding="utf-8")

In [14]:
df2 = pd.read_csv("book.csv")
df2.head()

,title,price,in_stock
0,Book A,12.99,True
1,Book B,25.56,False
2,Book C,8.99,True

In [15]:
df.to_json("books.json",orient="records",lines=True)

In [16]:
df_json = pd.read_json("books.json",orient="records",lines=True)
df_json

,title,price,in_stock
0,Book A,12.99,True
1,Book B,25.56,False
2,Book C,8.99,True

In [17]:
df.to_excel("books.xlsx",index=False)

In [18]:
sf_xls = pd.read_excel("books.xlsx")
sf_xls

,title,price,in_stock
0,Book A,12.99,True
1,Book B,25.56,False
2,Book C,8.99,True

In [20]:
import sqlite3
conn = sqlite3.connect("books.db")
df.to_sql("books",conn,if_exists="replace",index=False)
df_sql = pd.read_sql("SELECT * FROM books",conn)
df_sql

,title,price,in_stock
0,Book A,12.99,1
1,Book B,25.56,0
2,Book C,8.99,1